{% extends "base.html" %}
{% block content %}
    <section class="about">
        <p>
            note is your personal textual scratchpad app 
            for temporariliy storing you ideas, thoughts, 
            links, tasks, grocery lists, phone numbers, email ids and whatever you can think of.
        </p>
        <ul>
            <li>Login with any of your OpenId. If you have a google or yahoo account then you already have an OpenId.</li>
            <li>Save whatever you want in your scratchpad.</li>
            <li>Data you save is yours. We don't hold any rights to what you save.</li>
            <li>This is meant to be a temporary store for whatever-you-want-to-save.
                If something is very important, please keep it saved someplace safe.</li>
        </ul>
    </section>
{% endblock %}
