{% extends "base.html" %}
{% block content %}
    {% if is_authenticated %}
    <section class="note-section">
        <p class="top"><span class="greeting">Hi {{ email }}!</span> <span class="nav"><a href="{{ logout_url }}">Logout</a></span></p>
        <form method="POST" name="note" accept-charset="utf-8">
            <p class="note-meta">Last saved:{{ last_modified }}</p>
            <textarea name="text" rows="6">{{ text }}</textarea>
            <p class="save"><input type="submit" value="save"></p>
        </form>
    </section>
    {% else %}
    <section class="auth-section">
        <p>Login with your OpenId.</p>
        <div class="auth-list">
        <p>{% for url, name in login_urls %}
            [<a href="{{ url }}">{{ name }}</a>]
        {% endfor %}
        </p>
        OR <form action="/useropenid" method="GET"><label>OpenId<input placeholder="your openid" name="idprovider" type="text"></label><input value="Go" type="submit"></form>
        </div>
    </section>
    {% endif %}
{% endblock %}
