body {
    margin: 0 auto;
    padding: 0;
    width: 85%;
    color: #323333;
    font-family: sans-serif;
    background-color: #FEFFFF;
}

section, header, footer {
    max-width: 888px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 2em;
}

header h1 {
    margin: 0;
}

header .desc{
    margin: 0;
    font-style: italic;
}

.auth-section {
    text-align: center;
}

.auth-list {
    text-align: center;
}

.auth-list form{

}

.top .greeting{

}

.top .nav {
    float: right;
}

.nav a{
    padding: 0 0.5em;
}

.openid-data {
    display: none;
}

.note-section{

}

.note-section form textarea{
    width: 100%;
}

.note-section .note-meta{
    text-align: left;
    margin: 0.3em;
    font-size: 0.8em;
}

.note-section form .save {
    text-align: right;
    margin: 0.5em;
}

.save input {
    font-size: 1.1em;
}

a.logout, a:visited.logout{
    font-size: 1.2em;
    color: red;
}

form {

}

.secretkey {
    background-color: #eee;
    font-size: 1.1em;
    line-height: 2em;
    font-family: monospace;
}

footer {
    text-align: center;
    margin-top: 3em;
    border-top: 1px dotted #CFCFCF;
}

a {
    color: #2D4598;
    text-decoration: none;
    border-bottom: 1px dotted #888;
}

a:hover {
    color: #2958FE;
}

a:visited {
    color: #6C7BB1;
}
